*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
    width: 100%;
    height: 80px;
    color: black;
    background-color: #9b9987;
    display: flex;
    justify-self: baseline;
    padding-left: 700px;

}

a {
    font-size: medium;
    font-weight: bold;
    display: inline-flex;
    color: whitesmoke;
    margin: 30px;
    padding: 20px;
    text-decoration: none;
    
}

